.white-background {
    --background: #ffffff;
  }
  
  .places-container {
    padding: 16px;
  }
  
  .white-card {
    --background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;
  
    img {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }
  
    ion-card-header {
      padding: 16px;
  
      ion-card-title {
        font-size: 1.1rem;
        font-weight: 600;
        color: #2c3e50;
      }
  
      ion-card-subtitle {
        font-size: 0.9rem;
        color: #7f8c8d;
      }
    }
     /* Animation au survol */
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    
    .card-image {
      transform: scale(1.05);
    }
    
    ion-card-title {
      color: var(--ion-color-primary);
    }
  }

  

  }